:root{
    --color-hover: black
}

body{
    font-weight: 100;
}

.container{
    margin: 0;
}

header div{
    font-size: 0.8rem;
    margin: 0;
    gap: 40px;
}

#logo{
    width: 100px;
}

.nav{
    gap: 8px;
}

/* ! non funziona */
#aa:hover{
    color: black;
}

#sec-nav{
    position: absolute;
    right: 4%;
    gap: 20px;
}

.pointer{
    cursor: pointer;
}

#div-bambini{
    display: flex;
}